@using Diet.Server.Models
@using System.Text.Json;
@model IndexModel
@{var options = new JsonSerializerOptions { PropertyNamingPolicy = JsonNamingPolicy.CamelCase };}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
		<meta name="author" content="Jacob Buysse">
		<meta name="description" content="Meal planner and weight tracker.">
		<title>Diet</title>
		<link href="/dist/bundle.css?v=@Model.BundleVersion" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<div id="root" data-initial-state="@JsonSerializer.Serialize(@Model, options)"></div>
		<script src="/dist/bundle.js?v=@Model.BundleVersion"></script>
	</body>
</html>
