@import '~/variables';

.button {
	font-family: 'Lato', sans-serif;
	height: 2rem;
	border: 0;
	padding: 0.5em 1em;
	box-shadow: $box-shadow;
	color: white;
	border-radius: 4px;
	cursor: pointer;
	transition:
		background-color $timing-reactive linear,
		box-shadow $timing-reactive linear;

	&:hover:not([disabled]),
	&:focus:not([disabled]) {
		box-shadow: $box-shadow-active;
	}

	&:active:not([disabled]) {
		transition-timing-function: ease-out;
		box-shadow: none;
	}

	&:disabled {
		cursor: not-allowed;
	}

	:global(.loading-icon) {
		width: 1rem;
		height: 1rem;
		margin: auto;
		margin-top: -30px;
	}
}

@mixin button($color) {
	background-color: $color;

	&:disabled {
		background-color: lighten($color, 20%);
	}

	&:hover:not([disabled]),
	&:focus:not([disabled]) {
		background-color: lighten($color, 5%);
	}

	&:active:not([disabled]) {
		background-color: darken($color, 5%);
	}
}

.primary {
	@include button($color-primary);
}

.secondary {
	@include button($color-secondary);
}

.danger {
	@include button($color-danger);
}

.processing {
	opacity: 0;
}
