.root {
	display: flex;
	flex-direction: row;
}

.date {
	margin-left: auto;
	margin-top: auto;
	margin-bottom: auto;
	margin-right: 1rem;
}

.save {
	margin-left: 1rem;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
}
