.root {
	width: 100%;
	height: 100px;
	border: 1px #ccc solid;
	box-shadow: 1px 1px 5px #555 inset;
}

.target {
	fill: none;
	stroke: #49d159;
	shape-rendering: crispEdges;
}

.area {
	fill-opacity: 0.6;
	fill: #82a8e5;
}

.line {
	fill: none;
	stroke: #35568c;
	stroke-width: 1.5px;
	stroke-linejoin: round;
	stroke-linecap: round;
}

.none {
	font-style: italic;
	color: #999;
}
